@import '../abstracts/module';

.ReactModal__Overlay {
    opacity: 0;
    transition: .5s;
    &.ReactModal__Overlay--after-open {
        opacity: 1;
    }
    &.ReactModal__Overlay--before-close {
        opacity: 0;
    }   
}

.ReactModal__Content {
    transform: translate(-50%, -50%) scale(0);
    transition: .5s;
    &.ReactModal__Content--after-open {
        transform: translate(-50%, -50%);
    }
    &.ReactModal__Content--before-close {
        transform: translate(-50%, -50%) scale(0);
    }
    & > h2 {
        font-family: 'Mali', cursive;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 30px;
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.modal-content {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    border-radius: 0;
    height: fit-content;
    min-height: 1px;
    background-color: black;
    border: 2px white solid;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 30px;
    overflow: visible;
    outline: none;
}

.close-btn {
    @include arial;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px white solid;
    display: block;
    color: white;
    font-weight: normal;
    position: relative;
    margin-left: auto;
    background-color: black;
    transform: translate(75%, -50%);
    transition: .2s;
    margin-bottom: -20px;
    & > p {
        @include center;
    }
    &:hover {
        cursor: pointer;
        background-color: $dark-red;
        transition: .2s;
        transform: translate(75%, -50%) scale(1.2);
    }
}

.genre-modal {
    text-transform: uppercase;
    @include arial;
    font-size: 16px;
    margin-right: 20px;
    color: $middle-gray;
    transition: .2s;
    overflow: hidden;
    &:last-of-type {
        margin-right: 0;
    }
    &:hover {
        cursor: pointer;
        color: $light-green-blue;
        transition: .2s;
    }
    > a {
        @include link;
    }
}
.genres-modal {
    margin-bottom: 25px;
}

.description {
    @include arial;
    font-size: 18px;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 25px;
}
.release-date {
    @include arial;
    font-weight: 500;
    font-size: 22px;
    color: $light-gray;
    margin-bottom: 20px;
    & > span {
        color: white;
    }
    &.rating {
        font-family: 'Mali', cursive;
        color: $light-green-blue;
        font-size: 24px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 500;
        & > span {
            font-family: 'Mali', cursive;
            color: $light-green-blue;
            font-size: 32px;
            font-weight: 500;
        }
        &.unknown {
            font-family: 'Mali', cursive;
            color: $dark-red;
            font-weight: 500;
            font-size: 26px;
            & > span {
                font-family: 'Mali', cursive;
                color: $dark-red;
                font-weight: 500;
                font-size: 26px;
            }
        }
    }
}