@import '../abstracts/module';

.movie-area {
    & > .container {
        background-color: black;
        min-height: 55vh;
        padding-top: 30px;
        padding-bottom: 80px;
        position: relative;
    }
}
.results-for {
    margin: auto;
    width: 90%;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: $middle-gray;
    display: none;
    & > span {
        color: white;
    }
    &._active {
        display: block;
    }
}
.results {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    &._active {
        display: flex;
    }
}

.number {
    font-size: 16px;
    @include arial;
}

.sort-by {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > p {
        margin-right: 30px;
        text-transform: uppercase;
        font-family: cursive;
        font-size: 16px;
    }
    & > button {
        outline: none;
        border: none;
        @include arial;
        transition: .2s;
        font-size: 16px;
        background-color: rgba(255,255,255,0.3);
        color: white;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        &:last-of-type {
            margin-right: 0;
        }
        &._active {
            background-color: #fff;
            color: $darkgray;
        }
        &:hover {
            cursor: pointer;
            background-color: $buttongo;
            color: #ffffff;
            transition: .2s;
        }
    }
}

.movie-rows {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    grid-row-gap: 80px;
    margin-bottom: 40px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    display: none;
    padding-top: 25vh;
    z-index: 1;
    & > p {
        font-family: cursive;
        text-align: center;
        font-size: 10vh;
    }
    &._active {
        display: block;
    }
}

.not-found {
    font-family: cursive;
    font-size: 5vh;
    text-align: center;
    @include center;
    transform: translate(-50%, 0%);
    color: $dark-red;
    display: none;
    &.error {
        transform: translate(-50%, -50%);
        & > p {
            font-size: 7vh;
            transition: .2s;
            font-weight: bold;
            &:hover {
                cursor: pointer;
                color: $middle-gray;
                transition: .2s;
            }
        }
    }
    &._active {
        display: block;
    }
}

.pages {
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagecont {
    display: flex;
}

.page-num {
    @include arial;
    text-align: center;
    font-size: 28px;
    transition: .2s;
    min-width: 40px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.8;
    margin-right: 6px;
    &:last-of-type {
        margin-right: 0;
    }
    &.first {
        margin-right: 6px;
    }
    &.sec {
        margin-left: 6px;
    }
    &:hover {
        cursor: pointer;
        color: $light-green-blue;
        transition: .2s;
    }
    &._active {
        background-color: $dark-green-blue;
        color: white;
        border: 2px $darkgray solid;
        &:hover {
            cursor: pointer;
            color: $light-green-blue;
            transition: .2s;
        }
    }
}