@import '../abstracts/module';

.movie {
    width: 100%;
    word-wrap: break-word;
}
.movie-cont {
    margin: auto;
    max-width: 70%;
}
.tandp {
    &:hover {
        cursor: pointer;
        & .movie-title {
            transition: .2s;
            color: $light-green-blue;
        }
        & .poster {
            transform: scale(1.1);
            transition: .2s;
        }
    }
}
.poster {
    margin: auto;
    height: 375px;
    width: 90%;
    transition: .2s;
    margin-bottom: 30px;
    background-position: center;
}
.movie-title {
    margin: auto;
    text-align: center;
    font-size: 20px;
    @include arial;
    transition: .2s;
    margin-bottom: 10px;
}

.gandy {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: flex-start
}

.genres {
    @include arial;
    font-size: 16px;
    color: $light-gray;
}

.genre {
    transition: .2s;
    &:hover {
        transition: .2s;
        cursor: pointer;
        color: $light-green-blue;
    }
}

.year {
    font-family: cursive;
    font-size: 28px;
    line-height: 1;
    color: $dark-red;
    font-weight: bold;
}