@font-face {
    font-family: 'Mali';
    src: url('~/fonts/Mali-Regular.ttf') format('TrueType');
    font-weight: 400;
}

@font-face {
    font-family: 'Mali';
    src: url('~/fonts/Mali-SemiBold.ttf') format('TrueType');
    font-weight: 600;
}

@font-face {
    font-family: 'Mali';
    src: url('~/fonts/Mali-Bold.ttf') format('TrueType');
    font-weight: 700;
}

@font-face {
    font-family: 'Mali';
    src: url('~/fonts/Mali-SemiBold.ttf') format('TrueType');
    font-weight: 500;
}